<nav id="nav">
    <ul>
        <div class="lis">
            <li><a href="/petition/">
                    Home |</a>
            </li>
            <li><a href="/petition/login">Login |</a></li>
        </div>
    </ul>
</nav>
<section class="register">
    <h1>Hi, kindly sign in.</h1>
    <div class="ContentWrapper">
        <div class="registerSection">
            <div class="title">
                <p>Your Account</p>
            </div>
            <form
                class="userData"
                id="login"
                action="/petition/login"
                method="POST"
            >
                <div class="group">
                    <input type="email" value="" name="email" required />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>E-mail</label>
                </div>
                <div class="group">
                    <input type="password" value="" name="password" required />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Password</label>
                </div>

            </form>
            {{#if error}}
                <p class="error">E-mail or password wrong</p>
            {{/if}}
            <div class="signHere">
                <button
                    class="landingButtons"
                    type="submit"
                    form="login"
                >Login</button>
                <a href="/petition/register">Create an account</a>
                <a href="/petition">Back to Homepage</a>
            </div>
        </div>
    </div>
</section>