<section class="landingPageSection">
    <div class="bg"></div>
    <div class="mainBG">
        <div class="textFields">
            <h1 class="filler">Make</h1>
            <h1 class="earth"><b>Earth</b></h1>
            <h1 class="filler"><i>flat</i> again</h1>
        </div>
        <div class="landingPageButtons">
            <a class="landingButtons" href="/petition/register">Sign Up</a>
            <a class="landingButtons" href="/petition/login">Login</a>
        </div>
    </div>
</section>