<section>
    {{! <div class="bg"></div> }}
    <h1>Petition</h1>
    <div class="landingPageButtons">
        <a href="/petition/register">Sign Up</a>
        <a href="/petition/login">Login</a>
    </div>

</section>