<nav id="nav">
    <ul>
        <div class="lis">
            <li><a href="/petition/profile/edit"><i
                    >{{currentUser.first_name}}</i>
                    |</a>
            </li>
            <li><a href="/petition/logout">Logout |</a></li>
        </div>
    </ul>
</nav>
<section class="register">
    <h1>Provide additional information (optional)</h1>
    <div class="ContentWrapper">
        <div class="registerSection">
            <form
                class="userData"
                id="additionalData"
                action="/petition/profile"
                method="POST"
            >
                <div class="group">
                    <input type="text" value="" name="age" />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Age</label>
                </div>
                <div class="group">
                    <input type="text" value="" name="city" />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>City</label>
                </div>
                <div class="group">
                    <input type="url" value="" name="url" />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Homepage</label>
                </div>
            </form>
            {{#if error}}
                <p class="error">Something went wrong</p>
            {{/if}}
            <div class="signHere">
                <button
                    class="landingButtons"
                    type="submit"
                    form="additionalData"
                >Continue</button>
            </div>
        </div>
    </div>
</section>