<nav id="nav">
    <ul>
        <div class="lis">
                        <li><a href="/petition/">
                    Home |</a>
            </li>
            <li><a href="/petition/login">Login |</a></li>
        </div>
    </ul>
</nav>
<section class="registerHeader">
    
    
</section>
<section class="register">
    <h1>Did you know ?</h1>
    <p class="headerP">Over 1 million seabirds and 100,000 sea mammals are killed by pollution every year.</p>
    <div class="ContentWrapper">
    <div class="registerSection">
        <h1>Make it less !</h1>
        <form
            class="userData"
            id="register"
            action="/petition/register"
            method="POST"
        >
                <div class="group">
                    <input type="text" value="" name="first_name" required />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>First Name</label>
                </div>
                <div class="group">
                    <input type="text" value="" name="last_name" required />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Last Name</label>
                </div>
                 <div class="group">
                    <input type="email" value="" name="email" required />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>E-mail</label>
                </div>
                <div class="group">
                    <input type="password" value="" name="password" required />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Password</label>
                </div>
        </form>
        <div class="signHere">
            {{#if error}}
                <p class="error">Fill out all fields</p>
            {{/if}}
            <button class="landingButtons"{{!-- id="submit" --}} type="submit" form="register">Register</button>
            <a href="/petition/login">Sign In</a>
            <a href="/petition">Back to Homepage</a>

        </div>
    </div>
    </div>
</section>